      /*Global CSS Configuration*/

      @font-face {
        font-family: 'ak_terminal';
        src:url('ak_terminal.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }
      
      [class^="terminal-"], [class*=" terminal-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'ak_terminal' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      .terminal-intermezzi:before {
        content: "\e900";
        color: #fff;
      }
      .terminal-maintheme:before {
        content: "\e901";
        color: #fff;
      }
      .terminal-record:before {
        content: "\e902";
        color: #fff;
      }
      .terminal-sidestory:before {
        content: "\e903";
        color: #fff;
      }
      .terminal-storyset:before {
        content: "\e904";
        color: #fff;
      }

      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: local('Material Icons'),
          local('MaterialIcons-Regular'),
          url(MaterialIcons-Regular.ttf) format('truetype');
      }
    .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    }

    body{
        background-color: rgb(41, 41, 41);
        color: white;
        font-family: sans-serif;
        margin: 0px;
        overflow-x: hidden;
    }
    a{
        color: blanchedalmond;
    }

.lt{
    font-size: larger;
}
.nt{
    font-size: medium;
}
.st{
  font-size: small;
}
.xst{
  font-size: x-small;
}
.xxst{
  font-size: xx-small;
}
@media (max-width: 1000px){
  .lt{
      font-size: 40px;
  }
  .nt{
      font-size:30px;
  }
  .st{
    font-size: 25px;
  }
  .xst{
    font-size: 20px;
  }
  .xxst{
    font-size: 10px;
  }
  #content{
      margin-left: 70px !important;
      width: 90%;
      font-size: 30px;
  }
  .material-icons{
      font-size: 50px !important;
  }
.warning{
      font-size: 20px;
      width: 300px;
      background-color: rgb(90, 58, 58);
  }
  .nameblock{
      width: 150px;
      word-wrap: break-word;
  }
  .topButton{
      font-size: 70px;
  }
  .option{
      font-size: 30px;
  }
}