
*.txt
__pycache__
.vscode
.csv
*.csv
*.xlsx
*.jpg
en05
./ArknightsGameData
ArknightsGameData/
roguelike_table.json
ArknightsData/
*.nb
*.zip
ArknightsStoryJson/
reader/node_modules/*
reader/dist/*
*.ipynb